body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
    margin-left: 40px;
}

.footer-menu-container {
  background-color: #f9f9f9;
  padding: 15px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-menu li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-menu li a:hover {
  color: #007bff;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color:white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}